
#body {
    background: linear-gradient(120deg, #fafafa, #fff, #fdfdfd, #fff, #fefefe, #fdfdfd, #fafafa, #fff, #fefefe, #fff);
}

.logo h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}

.topbar {
    background: linear-gradient(120deg, #001935, #106eea 5%, #2064C5 90%, #001935);
}


.site-footer {
    position: relative;
    &:after {
        content: '';
        display: inline-block;
        width: 93vw;
        height: 1.5px;
        position: absolute;
        background: white;
        top: 0;
    }
}

.logo-nav {
    position: relative;
    background: $headerGradient;
}

.main {
    padding-top: 1200px;
    @include above(768) {
        padding-top: 550px;
    }
}

.hero {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.98) 40%, rgba(0, 0, 0, 0.11)), url(http://localhost/assets/img/Optimized-proud.jpg) no-repeat;
    background-position: right;
    max-height: 337px;
    height: 50vh;
    @include above(1536) {
        max-width: 1536px;
        margin-left: auto;
        margin-right: auto;
    }
}

.herobox {
    border-radius: 1rem;
    max-width: 78ch;
}

.hero-text {
    color: black;
    line-height: 1.6;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}