// solid
$secondaryOrange: #ff7300;
$primarynavyBlue: #000e2d;
$darkBlue: #111827;
$mediumBlue: #001935;
$lightBlue: #2064C5;
$highlightBlue: #106eea;
$greenSuccess: #00cc00;
$redFail: #ca1f1f;
$playfulBlue: #d0e5fb;
$bootstrapBlue: #1F67DE;

// grads
$headerGradient: linear-gradient(170deg, #111827, #0e3158, #0e3158, #0e3158);
