#body {
    background: linear-gradient(120deg, #fafafa, #fdfdfd, #fff, #fdfdfd, #fafafa);
    background: linear-gradient(120deg, #fff, #fefeff, #FBFAFA, #fff);
}

// home page
#home.main {
    padding-top: 1200px;
    @include above(768) {
        padding-top: 550px;
    }
}

.missionbg {
    background: url(http://localhost/assets/img/ABSA-LOGO-Plane-NON-VECTOR.png), linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 1));
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
