.site-footer {
    position: relative;
    background: white;
    &:after {
        content: '';
        display: inline-block;
        width: 100vw;
        height: 5px;
        position: absolute;
        background: linear-gradient(45deg, black, transparent, #9a9a9a, black);
        top: -1px;
    }
}

.footer-links h4 {
    display: inline-block;
    position: relative;
    &:after {
        content: '';
        left: 0;
        bottom: -0.25rem;
        width: 120%;
        height: 3px;
        position: absolute;
        background: #279e00;
    }
    margin-bottom: 16px;
}

.fsocial-icon {
    font-size: 25px;
    display: inline-block;
    background: #106eea;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    @include hover() {
        background: #3b8af2;
        color: #fff;
    }
}