.topbar {
    background: linear-gradient(120deg, #001935, #106eea 5%, #2064C5 90%, #001935);
}

.logo h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}

.logo-nav {
    position: relative;
    background: $headerGradient;
}