
.list-lower-alpha {
    list-style-type: lower-alpha;
}

.list-lower-roman {
    list-style-type: lower-roman;
}

.bluegradtext {
    font-weight: 900;
    background: linear-gradient(120deg, #106eea 5%, #2064C5 90%, #001935); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.parallax-caduceus {
    /* The image used */
    background-image: url(http://localhost/assets/img/ABSA-LOGO-Plane-NON-VECTOR.png);
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.title-1 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    line-height: 1.2;
}

.title-2 {
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
}

.title-3 {
    font-weight: 600;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
}

.para-big {
    line-height: 1.5;
    font-weight: 600;
}

.subhead { 
    font-weight: bold;
    font-size: 200%;
    margin-right: .05em;
}

.subhead-sm {
    font-weight: bold;
    font-size: 150%;
    margin-right: 0.01em;
}