/* Flip on the Y axis */
.flip-vertical, .card-back, .herobutton:hover .card-content {
  transform: rotateY(0.5turn);
}

.flip-reverse {
  transform: rotateY(0);
}

.card-title {
  transform: translateZ(180px);
}

.herobutton:hover .card-content {
  background: linear-gradient(-350deg, #008ddf, #106eea, #106eea 69%);
  color: white;
}
.herobutton:hover .card-content .card-front .icon {
  opacity: 0;
}

.card-content {
  position: relative;
  transition: transform 0.4s, opacity 0.6s, color 0.4s;
  background: white;
  transform-style: preserve-3d;
}

.card-front .icon {
  opacity: 1;
  color: black;
  transition-delay: 0.2s;
}

.list-lower-alpha {
  list-style-type: lower-alpha;
}

.list-lower-roman {
  list-style-type: lower-roman;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #106eea;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#body {
  background: linear-gradient(120deg, #fafafa, #fff, #fdfdfd, #fff, #fefefe, #fdfdfd, #fafafa, #fff, #fefefe, #fff);
}

.logo h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

.topbar {
  background: linear-gradient(120deg, #001935, #106eea 5%, #2064C5 90%, #001935);
}

.site-footer {
  position: relative;
}
.site-footer:after {
  content: "";
  display: inline-block;
  width: 93vw;
  height: 1.5px;
  position: absolute;
  background: white;
  top: 0;
}

.logo-nav {
  position: relative;
  background: linear-gradient(170deg, #111827, #0e3158, #0e3158, #0e3158);
}

.hero {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.98) 40%, rgba(0, 0, 0, 0.11)), url(http://localhost/assets/img/Optimized-proud.jpg) no-repeat;
  background-position: right;
  max-height: 337px;
  height: 50vh;
}
@media (min-width: 1536px) {
  .hero {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
  }
}

.herobox {
  border-radius: 1rem;
  max-width: 78ch;
}

.hero-text {
  color: black;
  line-height: 1.6;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.bluegradtext {
  font-weight: 900;
  background: linear-gradient(120deg, #106eea 5%, #2064C5 90%, #001935);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: Capitalize;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #106eea;
  border-radius: 5em;
  border: 1px solid black;
  transition: 0.5s;
}
.hero small {
  font-weight: 900;
  color: black;
}
.hero .hero-two {
  background: #00a800;
}
.hero .hero-three {
  background: #b91d1d;
}
.hero .btn-get-started:hover {
  background: #247cf0;
}
.hero .hero-two:hover {
  background: #00b300;
  color: white;
}
.hero .hero-three:hover {
  background: #ca1f1f;
}
